body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
}

.start {
    text-align: center;
}

.hide {
    display: none;
}

.scores {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 150ms;
}

a:hover {
    color: #606068;
}

button {
    background-color: rgb(70, 10, 70);
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 3px 9px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
}

button:hover {
    background-color: gray;
}

.answers button {
    display: block;
}

.input[type="text"] {
    font-size: 90%;
}

ol {
    overflow: auto;
    padding-left: 0px;
    max-height: 400px;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: #d3bcf8;
}